/*-- scss:defaults --*/


/*-- scss:rules --*/

/*-- scss:rules --*/

$theme-blue: #219ea7ff;
$theme-yellow: #F4BA02;

.blue {
  color: $theme-blue;
  font-weight: bold;
}

.yellow {
  color: $theme-yellow;
  font-weight: bold;
}